<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-click="navActive($event)" data-menu="home" id="home" href="#">Strona Główna</a></li>
        <li><a ng-click="navActive($event)" data-menu="breakfast" href="#">Śniadania</a></li>
        <li><a ng-click="navActive($event)" data-menu="lunch" href="#">Obiady</a></li>
        <li><a ng-click="navActive($event)" data-menu="dessert" href="#">Desery</a></li>
        <li><a ng-click="navActive($event)" data-menu="snack" href="#">Przekąski</a></li>
        <li><a ng-click="navActive($event)" data-menu="preserve" href="#">Przetwory</a></li>
        <li><a ng-click="navActive($event)" data-menu="other" href="#">Inne</a></li>

      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input ng-change="searchF()" ng-model="search" type="text" class="form-control" id="search" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
</nav>
