<!DOCTYPE html>
<html>
<header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Praca Domowa - Paweł Milewski</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>

</header>
<body ng-app="App">
  <div class="container" ng-controller="Validation">
    <div class="icon_box">
      <span class="axe icon"></span>
      <span class="campfire icon"></span>
      <span class="compass icon"></span>
      <span class="mauntains icon"></span>
      <span class="valley icon"></span>
      <span class="knife icon"></span>
      <span class="torch icon"></span>
      <span class="laundry icon"></span>
      <span class="scenery icon"></span>
      <span class="storm icon"></span>
      <span class="tent icon"></span>
      <span class="tent2 icon"></span>
    </div>
    <div class="form_box">
      <!-- Imię -->
      <input type="text" placeholder="Wpisz swoje imię" ng-model="name"
      ng-keyup="validName();"/>

      <div class="error" ng-style="style['name']">
        <span class="dt"><img src="img/arrow_up.png"/></span>
        <span class="dt">{{nameError}}</span>
      </div>
      <!-- Mail -->
      <input type="text" placeholder="Wpisz swój mail" ng-model="mail"
      ng-keyup="validMail();"/>

      <div class="error" ng-style="style['mail']">
        <span class="dt"><img src="img/arrow_up.png"/></span>
        <span class="dt">{{mailError}}</span>
      </div>
      <!-- Wiek -->
      <input type="text" placeholder="Wpisz swój wiek" ng-model="age"
      ng-keyup="validAge();"/>

      <div class="error" ng-style="style['age']">
        <span class="dt"><img src="img/arrow_up.png"/></span>
        <span class="dt">{{ageError}}</span>
      </div>
    </div>
    <div class="thx">
      <p>Dziękujemy za rejestrację {{name}}</p>
    </div>
    <div style="clear:both;"></div>
    <button ng-click="valid();" type="button">Zarejestruj się</button>
  </div>
  
</body>
</html>
