// out: styles.css, sourcemap: true, compress: true
@color1: #ffd947;
body{
  background: url('img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size:24px;
}
.container {background-color: #fff;}
#loading{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 160px;
    z-index: 100000;
    display: none;
    background: #fff url(img/loading.gif);
    box-shadow: #000 0px 0px 20px;
    position: fixed;
}
#loginPanel {
  @media all and (max-width: 799px){
    @keyframes loginPanelAnimation {
        from {top: -1000%;}
        to {top: 0%;}
    }
    width: 100%;
  }
    background-color: #ffffff;
    position: absolute;
    animation-name: loginPanelAnimation;
    animation-duration: 2s;

    h2{
      padding: 20px;
      background-color: @color1;
      margin: 0;
    }
    .container_login{
      display: inline-grid;
      span{
        input{
          margin: 10px auto;
          font-size: 1.5em;
          width: 90%;
        }
      }

      button{
        background-color: @color1;
        border: none;
        padding: 10px 0;
        font-size: 1.4em;
        margin-bottom: 10px;
        &:hover{
          background-color: #ffe376;
        }
      }
    }
}
#subcategories{padding: 0 10px;}
#details{background-color: #ececec;}
#lastAddShow{
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  a{
    text-decoration: none;
    display: block;
    h4{
      background-color: @color1;
      color: #000000;
      padding: 5px 0px;
      margin: 0;
      text-shadow: 2px 2px #cacaca;
      font-weight: bold;
    }
    &:hover{
      border: @color1 solid 5px;
      -webkit-transition: border 0.2s; /* Safari */
      transition: border 0.2s;
  }
}
}
@media all and (min-width: 800px){
  #loginPanel{
    @keyframes loginPanelAnimation {
        from {top: -1000%;}
        to {top: 50%;}
    }
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);;
    margin-top:20px;
    h2{
      display: none;
    }
    .container_login button, .container_login input{
      border-radius: 15px;
    }
  }
  #bg-login{
    background-image: url(img/login-background.png);
    background-size: 100%;
    width: 600px;
    height: 600px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: loginPanelAnimation;
    animation-duration: 2s;
  }
}
