// out: offer.css, sourcemap: true, compress: true
@color1: #00AAF2;
.offer-content {
  .nav-box{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.66) 0%, rgba(0,0,0,0.66) 34%, rgba(0,0,0,0.53) 47%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.66) 34%,rgba(0,0,0,0.53) 47%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.66) 34%,rgba(0,0,0,0.53) 47%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    -webkit-transition: 0.4s all; /* Safari */
    transition: 0.4s all;
    height: 128px;
    nav {
      color: #ffffff;
      padding: 0;
      border-top: 1px solid rgba(255,255,255,0.1);
      background: url(../img/photo_01.jpg) no-repeat top center;
      background-size: cover;
      -webkit-transition: 0.4s all; /* Safari */
      transition: 0.4s all;
      .container{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      p {
        margin: 0 0 15px !important;
        a{
        color:@color1;
        font-weight: bold;
        margin-right: 26px;
        &:hover{
          color: @color1/2;
          -webkit-transition: color 0.6s; /* Safari */
          transition: color 0.6s;
          text-decoration: none;
        }
      }
      }

      .logo{
        margin: 0 !important;
      }
      div > div > a:nth-last-child(2){
        margin-right: 10px;
      }
      .navbar-link{
        a{
          color: #FFFFFF;
          font-size: 18px;
          padding: 0px 15px 0 15px;

          &:hover, &:focus{
            background-color:transparent !important;
            color: @color1;
            -webkit-transition: color 0.6s; /* Safari */
            transition: color 0.6s;
          }
        }
        .active-link{
          color: @color1;
          border-bottom: 2px solid #00AAF2;
        }
      }
      .navbar-header{
        button{
          background-color: rgb(0, 145, 228);
          max-width: 48px;
          cursor: pointer;
        }
        .icon-bar{
          background-color: #d9d7d4;
          width:50%;
          margin: auto;
        }
      }
    }
  }
  .section-offer{
    background-color: #F4F4F4;
    article{
        background-color: #fff;
        float: left;
        margin: 20px 0;
        box-shadow: #ccc 0px 0px 10px;
        .article-img{
            padding:0;
        }
        h3{
          color: @color1;
          margin-top: 10px !important;
        }
        p{
          font-family: 'Open Sans', sans-serif;
          line-height: 24px;
        }
        .details{
          margin: 10px 0;
          font-weight: bold;
          font-size: 15px;
        }
        .btn{
          background-color: #00AAF2;
          color: #fff;
          border-radius: 0;
          font-weight: bold;
          padding: 10px;
          margin-top: 10px;
          &:hover{
            background-color: @color1/2;
            -webkit-transition: background-color, 0.6s;
            transition: background-color, 0.6s;
          }
        }
        ul{
          list-style: none;
          padding: 0;
          li{
            font-family: 'Open Sans', sans-serif;
            &:before{
              content: "• ";
              color: @color1;
              font-size: 24px;
              vertical-align: middle;
            }
          }
        }
    }
  }
}
.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 4px !important;
}
.navbar-fixed-top_style {
    padding: 5px 0 !important;
    background: #ffffff !important;
    -webkit-transition: 0.4s all; /* Safari */
    transition: 0.4s all;
    color: #01212f! important;
    box-shadow: #ccc 0 1px 10px;
    -webkit-transition: 0.4s all; /* Safari */
    transition: 0.4s all;
    .container{
      padding: 0 !important;
    }
    .navbar-link{
      a{
        color: #01212f !important;
        &:hover{
          color: @color1 !important;
          -webkit-transition: color 0.6s; /* Safari */
          transition: color 0.6s;
        }
      }
    }
}
.navbar-collapse {
  padding: 0px !important;
}
@media all and (max-width: 1200px) and (min-width: 768px){
  .offer-content .nav-box nav .navbar-link a{
    font-size: 14px;
    padding: 5px;
    padding: 0px 10px 0 10px;
  }
  .offer-content .nav-box nav p a{
    margin-right: 10px;
  }
}
@media all and (min-height: 767px){
  nav{
    .container{
      padding: 36px 0;
    }
  }

}
@media all and (max-width: 767px){
  #bs-example-navbar-collapse-1 > div{
    margin-top: 10px;
  }
  .offer-content .nav-box {
    background: url(../img/photo_01.jpg) no-repeat top center !important;
    background-size: cover !important;
    height: 71px;
    nav{
      text-align: center;
      padding: 10px !important;
      background: #ffffff !important;
      color: #01212f !important;
    .logo{
      img{
        padding-left: 10px;
      }
    }
    .container{
      display: block;
    }
    .navbar-link a{
      padding: 15px;
      color: #01212f !important;
      &:hover{
        color: @color1;
      }
    }
    .social-media{
      width: 49%;
      text-align: center;
      margin: 10px 0 0 0;
      margin-right: 0 !important;
    }
    .navbar-collapse {
      margin-top: 10px;
      margin-right: 0px !important;
      margin-left: 0px !important;
      div{
        float:none !important;
      }
    }
    .navbar-header{
      display: table-cell;
      width: 100%;
      padding-left: 15px;
      vertical-align: middle;
      button{
        width: 48px;
      }
    }
  }
  .navbar-fixed-top_style{
    background: #ffffff !important;
  }
    }
  .article-img{
      padding:0;
       img {
         margin: auto;
       }
  }
  article{
    .btn{
      display: block;
      margin: auto;
    }
  }
}
